* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: Roboto;
}

/* clearfix */
.container::after {
  content: "";
  display: table;
  clear: both;
}

/* .flex_mode{
  display: flex;
} */

a{
  text-decoration: none;
  color: grey;
}
a:hover{
  color: white;
}

li{
  list-style-type: none;
}


.navbar_sinistra{
  background-color: black;
  width: 300px;
  height: calc(100vh - 80px);
  float:left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 20px;

}

@media all and (max-width: 500px){
  .navbar_sinistra{
    width: 50px;
  }
  #logo_spotify{
    display: none;
  }
  #logo-small {
    display: block;


  }

  #playlist_title, #piu_playlist, .playlist_nav {
    display: none;
  }

  .nav_list a {
    display: none;
  }
  .nav_footer span{
    display: none;
  }


}


#logo_spotify{
  height: 40px;
  width: auto;
  padding-left: 20px;


}
#logo-small {
  display: none;
  height: 40px;
  width: auto;
  padding-left: 20px;
  color:white;
}

.nav_list img{
  height: 30px;
  width: auto;

}

.nav_list li {
  display: flex;
  align-items: center;
  padding: 5px 0 10px 20px;

}

#playlist_title {
  color:white;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
}




.playlist_nav{
  overflow:auto;
  height: 150px;
  padding-left: 20px;
}

.playlist_nav li{
  padding-top: 10px;
}

.nav_footer {
  width: 100%;

}

.nav_footer a{
  display:block;

}
.nav_footer a i {
  font-size: 25px;
  padding: 5px 10px 5px 20px;
}

.piu_playlist {
  padding-left: 20px;
}
.fa-plus-square {
  padding-left: 20px;
  padding-right: 10px;
  font-size: 40px;
}

/* sezione contenuti */



.contenuti_playlist {
  width: calc(100% - 300px);
  height: calc(100vh - 80px);
  background-color: #141922;
  float: left;
  overflow: auto;
}

/* upgrade bar */

.upgrade_bar {
  width: calc(100% - 300px);
  height: 80px;
  background-color: black;
  opacity:0.5;
  text-align: right;
  line-height: 80px;
  position: fixed;
  z-index: 989;
  top: 0;
  right: 0;

}

.upgrade_button {
  color: grey;
  line-height: 80px;
  padding: 12px;
  border: grey 1px solid;
  border-radius: 20px;
  font-size: 13px;
  text-decoration: none;
  margin-right: 30px;


}

.upgrade_button:hover{
  padding: 14px;
  color: white;
  border: white 1px solid;
}

/* contenuti con immagini */

.top_content_bar {
  padding-top: 85px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.top_content_bar li {
  padding: 5px;
  font-size: 10px;
  /* display: flex;
  flex-direction: column;
  align-items: center; */

}
.top_content_bar li a:hover {
  border-bottom: 2px #ccff00 solid;

}

/* .top_content_bar span {
  display: none;
  width: 20px;
  height: 2px;
  background-color: #ccff00;
} */

/* .top_content_bar li:hover span {
  display: block;
} */



.playlist_album {
  display: flex;
  flex-direction: column;
}

.title_content h4{
  padding-left: 10px;
  color: grey;
  font-size: 12px;
}

.playlist_album h3{
  padding: 10px;
  color: white;
}



.playlist_album h5{
  color: grey;
  font-size: 10px;
}


.recently_played, .creato_per_john_doe, .artisti_popolari {
  display: flex;
  flex-wrap:wrap;
}
.recently_played .blocksong,.creato_per_john_doe .blocksong,.artisti_popolari .blocksong {
  flex-direction: row;

}

.blocksong {
  padding: 10px;
  text-align: center;
  position: relative;
}
.blocksong h4{
  color: white;
  /* padding:5px; */
}

.blocksong h5{
  color: grey;
}

.blocksong img{
  height: 180px;
  width: auto;
}

.blocksong img:hover {
  opacity: 0.5;
}

.blocksong i {
  font-size: 50px;
  position: absolute;
  top: 32%;
  left:38%;
  color: white;
  display: none;
}


.blocksong:hover i{
  display: block;
}

footer {
  background-color: #282828;
  height: 80px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.barra_sinistra{
  display: flex;
}
.blockbot{
  display: flex;
}

.blockbot img {
  height: 40px;
  padding-left: 15px;
}

.blockbot .titles_footer {
  padding-left: 15px;
}
.barra_sinistra .bot_icon i {
  padding-left: 15px;
  flex-wrap: wrap;
}

.player_console {
  padding: 10px;
  display: flex;
  align-items: center;
}
.player_console a {
  padding: 0 20px;
}

.time {
  width: 100%;
  height: 6px;
  background-color: #555;
  border-radius: 6px;

}
.line_time {
  position: relative;
  border-radius: 6px;
  width: 20%;
  height: 6px;
  background-color: #999;

}

.circle {
  width: 14px;
  height: 14px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: -3.5px;
  left: 96%;
  display: none;
}
.time:hover .circle {
  display: block;
}
.time:hover .line_time {
  background-color: white;
}

/* .barra_destra {
  display: flex;
} */

.barra_destra i {
  padding-right: 15px;
}

.volume {
  width: 100%;
  height: 6px;
  background-color: #555;
  border-radius: 6px;

}

.line_volume {
  width: 20%;
  height: 6px;
  background-color: #999;
  border-radius: 6px;

}
