* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: Roboto;
}

/* clearfix */
.container::after {
  content: "";
  display: table;
  clear: both;
}

.flex_mode{
  display: flex;
}


.navbar_sinistra{
  background-color: black;
  width: 300px;
  height: calc(100vh - 80px);
  float:left;
}

#logo_spotify{
  height: 40px;
  width: auto;

}

.nav_list img{
  height: 30px;
  width: auto;

}

.playlist_nav{
  overflow:auto;
  /* height: 50px; */
}

/* sezione contenuti */

.contenuti_playlist {
  width: calc(100% - 300px);
  height: calc(100vh - 80px);
  background-color: darkblue;
  float: left;
}



footer {
  background-color: grey;
  height: 80px;
  width: 100%;
}

/* .contents {
  width: calc(100vw - 300px);
  height: calc(100vh - 80px);
  background-color: darkblue;
} */
